* { 
    padding: 0px; 
    margin: 0px 
  } 

.navbar {
  background-color: pink;
  color: black;
}

.footer {
  background-color: grey;
  margin: 0 !important;
  padding: 5rem;
  text-align: center;
}
